<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>监利市农业电子商务综合服务子系统</title>
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/index.css" />
    <link rel="stylesheet" href="./fonts/element.css" />
    <link rel="stylesheet" href="./css/swiper.min.css" />
  </head>
  <body>
    <div id="app">
      <div class="title-section">
        <div class="title-section-content">
          <a class="system-title">监利市农业电子商务综合服务子系统</a>
          <div class="login-content">
            <a href="./html/login/login.html" v-if="loginShow">
              <el-button type="success">登录</el-button>
            </a>
            <el-tooltip v-else class="item" effect="light" content="点击可退出登陆" placement="bottom">
              <el-button type="info" @click="handleLogOut">用户：{{userName}}</el-button>
            </el-tooltip>
            <a href="./html/login/register.html">
              <el-button type="primary">注册</el-button>
            </a>
          </div>
        </div>
      </div>

      <div class="nav-list">
        <div class="nav-list-content">
          <a class="nav-item active" href="javascript:;">首页</a>
          <a class="nav-item" href="./html/market-condition.html">市场行情</a>
          <a class="nav-item" href="./html/price-condition.html">价格行情</a>
          <a class="nav-item" href="./html/price-trend.html">价格走势</a>
          <a class="nav-item" href="./html/farm-products.html">优质农产品</a>
          <a class="nav-item" href="./html/production-market/production-market.html">农产品产销信息</a>
          <a class="nav-item" href="./html/message-board/message-board.html">留言板</a>
        </div>
      </div>

      <div class="mainer">
        <div class="swiper-container swiper1">
          <el-carousel height="400px">
            <el-carousel-item style="width: 1300px; height: 400px" v-for="item in swiperList">
              <a :href="'./html/index-detail.html?'+ item.id">
                <img style="width: 1300px; height: 400px" :src="item.path" />
              </a>
            </el-carousel-item>
          </el-carousel>
        </div>

        <div class="dynamic-section">
          <div class="dynamic-main">
            <div class="dynamic-content-list">
              <div class="dynamic-left-top">
                <div class="dynamic-right-top">
                  <span class="dynamic-right-title">工作动态</span>
                  <a href="./html/laws-list.html?=1" class="dynamic-right-more">更多 >> </a>
                </div>
                <div class="dynamic-content-item" v-for="item in workArticleList">
                  <a class="dynamic-item-text" :href="'./html/index-detail.html?'+ item.id">{{item.title}}</a>
                  <span class="dynamic-item-time">{{item.pubTime}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="dynamic-main">
            <div class="dynamic-content-list">
              <div class="dynamic-right-top">
                <span class="dynamic-right-title">政策法规</span>
                <a href="./html/laws-list.html?=2" class="dynamic-right-more">更多 >> </a>
              </div>
              <div class="dynamic-right-list">
                <div class="dynamic-right-item" v-for="item in policyArticleList">
                  <span class="dynamic-right-item-circle"></span>
                  <a class="dynamic-right-item-title" :href="'./html/index-detail.html?'+ item.id">{{item.title}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="farm-knowledge-section">
          <div class="farm-knowledge-left">
            <div class="farm-knowledge-nav">
              <a
                class="farm-nav-item"
                :class="activeValue == index? 'active': ''"
                v-for="(item,index) in farmNavItem"
                @click="selected(item.value)"
                >{{item.name}}</a
              >
            </div>
            <div class="farm-knowledge-content">
              <div class="swiper-container swiper3">
                <el-carousel height="380px" style="width: 400px">
                  <el-carousel-item v-for="item in farmSwiperList">
                    <a :href="'./html/index-detail.html?' + item.id">
                      <img style="width: 400px; height: 380px" :src="item.path" />
                    </a>
                  </el-carousel-item>
                </el-carousel>
              </div>
              <div class="farm-knowledge-content-right">
                <div class="dynamic-content-list-detail" v-if="activeValue == 0">
                  <div class="dynamic-list-top">
                    <div style="display: flex;justify-content: space-between;align-items: center;">
                      <span class="dynamic-content-list-title">农事指导</span>
                      <a href="./html/laws-list.html?=3" class="dynamic-right-more">更多 >> </a>
                    </div>

                    <div class="dynamic-content-item" v-for="item in farmArticleList">
                      <a class="dynamic-item-text" :href="'./html/index-detail.html?'+ item.id">{{item.title}}</a>
                      <span class="dynamic-item-time">{{item.pubTime}}</span>
                    </div>
                  </div>
                </div>
                <div class="dynamic-content-list-detail" v-else-if="activeValue == 1">
                  <div class="dynamic-list-top">
                    <div style="display: flex;justify-content: space-between;align-items: center;">
                      <span class="dynamic-content-list-title">农业资讯</span>
                      <a href="./html/laws-list.html?=4" class="dynamic-right-more">更多 >> </a>
                    </div>
                    <div class="dynamic-content-item" v-for="item in farmArticleList">
                      <a class="dynamic-item-text" :href="'./html/index-detail.html?'+ item.id">{{item.title}}</a>
                      <span class="dynamic-item-time">{{item.pubTime}}</span>
                    </div>
                  </div>
                </div>
                <div class="dynamic-content-list-detail" v-else="">
                  <div class="dynamic-list-top">
                    <div style="display: flex;justify-content: space-between;align-items: center;">
                      <span class="dynamic-content-list-title">种植知识</span>
                      <a href="./html/laws-list.html?=5" class="dynamic-right-more">更多 >> </a>
                    </div>
                    <div class="dynamic-content-item" v-for="item in farmArticleList">
                      <a class="dynamic-item-text" :href="'./html/index-detail.html?'+ item.id">{{item.title}}</a>
                      <span class="dynamic-item-time">{{item.pubTime}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="farm-knowledge-right">
            <div class="farm-knowledge-right-title">产销信息</div>
            <div class="market-info-list">
              <div class="market-info-item" v-for="item in marketArticleList">
                <a
                  class="market-info-item-text"
                  :href="'./html/production-market/production-market-detail.html?' + item.id"
                  >{{item.title}}</a
                >
                <p class="market-info-item-time">{{item.pubTime}}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="farm-production-section">
          <div class="farm-procution-swiper">
            <div class="product-top">
              <span class="product-show">优质农产品</span>
              <a href="./html/farm-products.html">
                <span class="product-more">更多 >></span>
              </a>
            </div>
            <div class="swiper-container swiper2">
              <div class="swiper-wrapper" style="width: 1200px">
                <div class="swiper-slide" style="width: 240px" v-for="item in productSwiper">
                  <a href="./html/farm-products.html">
                    <img :src="item.path" style="width: 217px; height: 160px; border-radius: 2px; cursor: pointer" />
                  </a>
                  <p class="product-swiper-text"><b>{{item.name}}</b></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="link-section">
        <div class="link-section-content">
          <p><b>友情链接：</b></p>
          <div class="link-list">
            <a class="link-item" href="http://39.104.61.47:8093/gyx_System/">监利市农业公益性服务子系统</a>
            <a class="link-item">产业园三维可视化子系统</a>
            <a class="link-item">农业电子商务综合服务子系统</a>
            <a class="link-item">农业产业园大屏展示系统</a>
            <a class="link-item">农产品质量安全追溯管理平台</a>
            <a class="link-item">农产品质量安全监督管理系统</a>
            <a class="link-item" href="http://39.104.61.47:8093/zsxx_System/">农产品质量安全追溯信息系统</a>
            <a class="link-item">稻虾共作物联网子系统</a>
            <a class="link-item">农产品质量安全追溯应用系统</a>
            <a class="link-item"></a>
            <a class="link-item"></a>
            <a class="link-item"></a>
          </div>
        </div>
      </div>
    </div>
  </body>
  <footer class="footer">
    <a href="http://www.jianli.gov.cn/xxgk_30/xxgkml/jgzn/201912/t20191215_427946.shtml"
      >主办单位：监利市农业农村局 &nbsp;&nbsp;</a
    >
    <a href="http://www.zd-tech.net/">承办单位：武汉中迪联创科技有限公司&nbsp;&nbsp;</a>
    <!-- Winston 2020 -->
    <a>鄂ICP备 xxx号-1鄂公网安备 xxx号</a>
  </footer>
  <script src="./assets/vue/vue.min.js"></script>
  <script src="./assets/element/index.js"></script>
  <script src="./js/swiper.min.js"></script>
  <script src="./js/api.js"></script>
  <script src="./assets/jquery/jquery.min.js"></script>
  <script>
    var App = new Vue({
      el: '#app',
      data() {
        return {
          swiperList: [],
          productSwiper: [],
          //政策法规文章标题arr
          policyArticleList: [],
          //工作动态文章标题arr
          workArticleList: [],
          //产销信息文章标题arr
          marketArticleList: [],
          //农事指导,农业资讯,种植知识arr
          farmArticleList: [],
          //农事指导,农业资讯,种植知识轮播图arr
          farmSwiperList: [],
          farmNavItem: [
            { value: 0, name: '农事指导' },
            { value: 1, name: '农业资讯' },
            { value: 2, name: '种植知识' },
          ],
          activeValue: 0,
          params: {
            pageNum: 1,
            pageRow: 10,
            sysType: '电子商务系统',
            articleType: '',
            status: 1,
          },
          loginShow: true,
          userName: '',
        };
      },
      created() {
        this.getSwiperItem();
        this.getArticleList();
        this.showLogin();
      },
      methods: {
        handleLogOut() {
          this.$confirm('确认是否退出登陆, 是否继续?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning',
          })
            .then(() => {
              this.$message({
                type: 'success',
                message: '退出成功!',
              });
              localStorage.removeItem('token');
              localStorage.removeItem('username');
              localStorage.removeItem('loginForm');
              this.loginShow = true;
            })
            .catch(() => {
              this.$message({
                type: 'info',
                message: '已取消退出',
              });
            });
        },
        selected(value) {
          this.activeValue = value;
          this.getArticleList();
        },
        showLogin() {
          if (localStorage.getItem('token')) {
            this.loginShow = false;
            this.userName = localStorage.getItem('username');
          }
        },
        getSwiperItem() {
          let params = {
            page: 1,
            size: 5,
            targetSystem: '电子商务系统',
          };
          let productParams = {
            page: 1,
            limit: 10,
          };
          //banner轮播图
          doApi_1(
            (res) => {
              if (res.status == 200) {
                this.swiperList = res.data.rows.map((item) => {
                  return {
                    id: item.articleId,
                    path: item.path,
                  };
                });
              }
              // this.initSwiper();
            },
            function (err) {
              console.log(err);
            },
            null,
            '/carousel/page',
            'get',
            params,
            null
          );
          //优质农产品轮播图
          doApi_2(
            (res) => {
              if (res.status == 200) {
                this.productSwiper = res.data.rows.map((item) => {
                  return {
                    id: item.id,
                    name: item.productName,
                    path: 'http://' + item.imgLists[0].path,
                  };
                });
                this.initProductSwiper();
              }
            },
            function (err) {
              console.log(err);
            },
            null,
            '/perfectProduct/listByPage',
            'get',
            productParams,
            null
          );
          doApi_1(
            (res) => {
              if (res.status == 200) {
                res.data.rows.map((item) => {
                  if (
                    item.articleTypeid == '农事指导' ||
                    item.articleTypeid == '农业资讯' ||
                    item.articleTypeid == '种植知识'
                  ) {
                    this.farmSwiperList.push({ path: item.path, id: item.articleId });
                  }
                });
              }
              // this.initFarmSwiper();
            },
            function (err) {
              console.log(err);
            },
            null,
            '/carousel/page',
            'get',
            params,
            null
          );
        },
        initProductSwiper() {
          var swiper2 = new Swiper('.swiper2', {
            observer: true,
            observeParents: true,
            autoplay: 2000,
            autoplayDisableOnInteraction: false,
            slidesPerView: 'auto',
            loopedSlides: 5,
            centeredSlides: false,
            spaceBetween: 5,
            // freeMode: true,
            grabCursor: true,
            loop: true, // 循环模式选项
          });
          this.$nextTick(() => {
            swiper2.init();
          });
        },
        getArticleList() {
          let params = {
            pageNum: 1,
            pageRow: 10,
            sysType: '电子商务系统',
            articleType: '政策法规',
            status: 1,
          };
          let workParams = {
            pageNum: 1,
            pageRow: 10,
            sysType: '电子商务系统',
            articleType: '工作动态',
            status: 1,
          };
          let marketParams = {
            page: 1,
            limit: 10,
            type: '产销信息',
          };
          //农事指导内容
          if (this.activeValue == 0) {
            this.params.articleType = '农事指导';
            this.getApi(this.params);
          } else if (this.activeValue == 1) {
            this.params.articleType = '农业资讯';
            this.getApi(this.params);
          } else {
            this.params.articleType = '种植知识';
            this.getApi(this.params);
          }
          //产销信息文章标题
          doApi_2(
            (res) => {
              if (res.status == 200) {
                console.log(res);
                this.marketArticleList = res.data.rows.map((item) => {
                  return {
                    id: item.id,
                    title: item.title,
                    pubTime: item.pubTime.substr(0, 10),
                  };
                });
              }
            },
            function (err) {
              console.log(err);
            },
            null,
            '/marketing/listByPage',
            'get',
            marketParams,
            null
          );
          //工作动态文章标题
          doApi_1(
            (res) => {
              if (res.status == 200) {
                this.workArticleList = res.data.rows.map((item) => {
                  return {
                    id: item.id,
                    title: item.title,
                    pubTime: item.pub_time.substr(0, 10),
                  };
                });
              }
            },
            function (err) {
              console.log(err);
            },
            null,
            '/article/list',
            'get',
            workParams,
            null
          );
          //政策法规文章标题
          doApi_1(
            (res) => {
              if (res.status == 200) {
                this.policyArticleList = res.data.rows.map((item) => {
                  return {
                    id: item.id,
                    title: item.title,
                  };
                });
              }
            },
            function (err) {
              console.log(err);
            },
            null,
            '/article/list',
            'get',
            params,
            null
          );
        },
        getApi(params) {
          doApi_1(
            (res) => {
              if (res.status == 200) {
                this.farmArticleList = res.data.rows.map((item) => {
                  return {
                    id: item.id,
                    title: item.title,
                    pubTime: item.pub_time.substr(0, 10),
                  };
                });
              }
            },
            function (err) {
              console.log(err);
            },
            null,
            '/article/list',
            'get',
            this.params,
            null
          );
        },
      },
    });
  </script>
</html>
