<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>监利市农业电子商务综合服务子系统</title>
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../css/index.css" />
    <link rel="stylesheet" href="../../fonts/element.css" />
  </head>
  <body>
    <div id="app">
      <div class="title-section">
        <div class="title-section-content">
          <a href="../../index.html" class="system-title">监利市农业电子商务综合服务子系统</a>
        </div>
      </div>

      <div class="nav-list">
        <div class="nav-list-content">
          <a class="nav-item" href="../../index.html">首页</a>
          <a class="nav-item" href="../market-condition.html">市场行情</a>
          <a class="nav-item" href="../price-condition.html">价格行情</a>
          <a class="nav-item" href="../price-trend.html">价格走势</a>
          <a class="nav-item" href="../farm-products.html">优质农产品</a>
          <a class="nav-item" href="../production-market/production-market.html">农产品产销信息</a>
          <a class="nav-item active" href="./message-board.html">留言板</a>
        </div>
      </div>

      <div class="mainer">
        <div class="banner-section" style="height: 200px">
          <img src="../../images/banner-6.png" alt="" style="height: 200px" />
        </div>

        <div class="message-board-section">
          <div class="message-board-nav">
            <h2 class="message-board-nav-left">
              您所在的位置： <a href="../../index.html" style="color: #888">首页</a> >
              <a href="./message-board.html" style="color: #888">留言板</a>
            </h2>
            <el-button @click="goBack" type="success" style="width: 100px !important">返回</el-button>
          </div>
          <div class="message-board-content">
            <p class="message-board-content-title">用户留言</p>
            <div class="message-board-content-detail">
              <h2 class="message-board-detail-title">{{row.title}}</h2>
              <div class="message-board-detail-container">
                <div class="message-board-detail-top-info">
                  <span>时间：{{row.messageTime}}</span>
                  <span>留言人: ***</span>
                </div>
                <div class="message-board-detail-text" v-html="row.content"></div>
                <p class="message-board-detail-reply">回复</p>
                <p class="message-board-admin-reply">
                  管理员：<span v-if="row.isReply == 1">{{replayInfos.responder}}</span>
                </p>
                <p class="message-board-reply-time">
                  时间：<span v-if="row.isReply == 1">{{replayInfos.replyTime}}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="link-section">
        <div class="link-section-content">
          <p><b>友情链接：</b></p>
          <div class="link-list">
            <a class="link-item" href="http://39.104.61.47:8093/gyx_System/">监利市农业公益性服务子系统</a>
            <a class="link-item">产业园三维可视化子系统</a>
            <a class="link-item">农业电子商务综合服务子系统</a>
            <a class="link-item">农业产业园大屏展示系统</a>
            <a class="link-item">农产品质量安全追溯管理平台</a>
            <a class="link-item">农产品质量安全监督管理系统</a>
            <a class="link-item" href="http://39.104.61.47:8093/zsxx_System/">农产品质量安全追溯信息系统</a>
            <a class="link-item">稻虾共作物联网子系统</a>
            <a class="link-item">农产品质量安全追溯应用系统</a>
            <a class="link-item"></a>
            <a class="link-item"></a>
            <a class="link-item"></a>
          </div>
        </div>
      </div>
    </div>
  </body>
  <footer class="footer">
    <a href="http://www.jianli.gov.cn/xxgk_30/xxgkml/jgzn/201912/t20191215_427946.shtml"
      >主办单位：监利市农业农村局 &nbsp;&nbsp;</a
    >
    <a href="http://www.zd-tech.net/">承办单位：武汉中迪联创科技有限公司&nbsp;&nbsp;</a>
    <a>鄂ICP备 xxx号-1鄂公网安备 xxx号</a>
  </footer>
  <script src="../../assets/vue/vue.min.js"></script>
  <script src="../../assets/element/index.js"></script>
  <script src="../../js/api.js"></script>
  <script src="../../assets/jquery/jquery.min.js"></script>
  <script type="text/javascript">
    var App = new Vue({
      el: '#app',
      data() {
        return {
          row: {},
          replayInfos: {},
        };
      },
      created() {
        this.getAllList();
      },
      methods: {
        getAllList() {
          let search = location.search;
          let id = search.substr(1);
          doApi_2(
            (res) => {
              console.log(res);
              if (res.status == 200) {
                this.row = res.data;
                this.replayInfos = res.data.replyInfos[0];
              }
            },
            function (err) {
              console.log(err);
            },
            null,
            '/qa/getQA?qaId=' + id,
            'post',
            null,
            null
          );
        },
        goBack() {
          window.history.back(); //返回上一页，并且强行刷新
        },
      },
    });
  </script>
</html>
