<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>监利市农业电子商务综合服务子系统</title>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../fonts/element.css" />
  </head>
  <body>
    <div id="app">
      <div class="title-section">
        <h1 class="system-title">监利市农业电子商务综合服务子系统</h1>
      </div>

      <div class="mainer">
        <div class="nav-list">
          <a class="nav-item" href="../index.html">首页</a>
          <a class="nav-item" href="./market-condition.html">市场行情</a>
          <a class="nav-item" href="./price-condition.html">价格行情</a>
          <a class="nav-item" href="./price-trend.html">价格走势</a>
          <a class="nav-item active" href="./farm-products.html">优质农产品</a>
          <a class="nav-item" href="./production-market/production-market.html">农产品产销信息</a>
          <a class="nav-item" href="./message-board/message-board.html">留言板</a>
        </div>

        <div class="banner-section">
          <img src="../images/banner-4.png" alt="" />
        </div>

        <div class="farm-product-section">
          <div class="farm-product-list">
            <div v-for="(item,index) in productItem">
              <nav class="farm-product-item" :class="activeValue == index? 'active' : ''" @click="seleted(item.value)">
                {{item.name}}
              </nav>
            </div>
          </div>
          <div class="products-container">
            <div>
              <div class="products-container-left">
                <div class="products-list-item" v-for="item in rows" @click="farmInfoDialog(item)">
                  <a class="products-item-img">
                    <img :src="'http://' + item.imgLists[0].path" />
                  </a>
                  <div style="display: flex;justify-content: space-between;">
                    <div>
                      <p class="products-item-price">￥{{item.price}}</p>
                      <p class="products-shopping-mall">{{item.productName}}</p>
                    </div>
                    <div style="display: flex;align-items: flex-end;height: 50px;">
                      <img src="../images/hot.png" style="width: 25px; height: 25px; " />
                      <span style="font-size: 16px;margin-right: 15px;">{{item.popularity}}</span>
                    </div>
                  </div>

                  <div class="products-address-time">
                    <span class="products-address">{{item.productOrigin}}</span>
                    <span class="products-time">{{item.pubTime.substr(0,10)}}</span>
                  </div>
                </div>
              </div>
              <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="params.page"
                :page-sizes="[12, 16]"
                :page-size="params.limit"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total"
                style="margin-top: 30px; text-align: center"
              >
              </el-pagination>
            </div>
            <div class="products-container-right">
              <div class="products-container-right-banner">
                <img src="../images/product-3.png" alt="" />
              </div>
              <div class="hot-supply">
                <h2 class="hot-supply-title">热门供应</h2>
                <div class="hot-supply-item" v-for="item in hotRows" @click="farmInfoDialog(item)">
                  <a class="hot-supply-item-img">
                    <img :src="'http://' + item.imgLists[0].path" />
                  </a>
                  <p class="hot-supply-item-desc">
                    <span>{{item.productName}}</span>
                    <span>{{item.productOrigin}}</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 页面弹出框 -->
        <el-dialog title="农产品详情" :visible.sync="dialogVisible" width="50%">
          <p>农产品图片</p>
          <el-carousel height="150px" style="width: 400px; margin: 0 auto">
            <el-carousel-item
              v-for="item in farmInfo.imgLists"
              :key="item.id"
              style="display: flex; justify-content: center"
            >
              <img :src="'http://' + item.path" style="width: 200px; height: 150px" />
            </el-carousel-item>
          </el-carousel>
          <el-form>
            <el-form-item label="农产品分类："> {{farmInfo.productCategory}} </el-form-item>
            <el-form-item label="农产品名称："> {{farmInfo.productName}} </el-form-item>
            <el-form-item label="农产品产地："> {{farmInfo.productOrigin}} </el-form-item>
            <el-form-item label="浏览量："> {{farmInfo.popularity}} </el-form-item>
            <el-form-item label="添加时间："> {{farmInfo.pubTime}} </el-form-item>
            <el-form-item label="农产品描述："> {{farmInfo.description}} </el-form-item>
          </el-form>
        </el-dialog>

        <footer class="footer">
          <a>主办单位：监利市农业农村局 &nbsp;&nbsp;</a>
          <a>承办单位：武汉中迪联创科技有限公司&nbsp;&nbsp;</a>
          <a>鄂ICP备 xxx号-1鄂公网安备 xxx号</a>
        </footer>
      </div>
    </div>
  </body>
  <script src="../assets/vue/vue.min.js"></script>
  <script src="../assets/element/index.js"></script>
  <script src="../js/api.js"></script>
  <script src="../assets/jquery/jquery.min.js"></script>
  <script type="text/javascript">
    var App = new Vue({
      el: '#app',
      data() {
        return {
          params: {
            page: 1,
            limit: 12,
            productCategory: '',
          },
          rows: [],
          productItem: [
            { value: 0, name: '全部' },
            { value: 1, name: '水果' },
            { value: 2, name: '蔬菜' },
            { value: 3, name: '粮油' },
            { value: 4, name: '牛肉猪肉' },
            { value: 5, name: '家禽蛋类' },
            { value: 6, name: '水产' },
            { value: 7, name: '其他' },
          ],
          activeValue: 0,
          hotRows: [],
          total: '',
          dialogVisible: false,
          farmInfo: {},
        };
      },
      created() {
        this.getAllList();
      },
      methods: {
        farmInfoDialog(value) {
          this.dialogVisible = true;
          this.farmInfo = value;
          let id = value.id;
          doApi_2(
            (res) => {
            },
            function (err) {
              console.log(err);
            },
            null,
            '/perfectProduct/getInfoById?id=' + id,
            'get',
            null,
            null
          );
          this.getAllList();
        },
        seleted(value) {
          this.activeValue = value;
          this.getAllList();
        },
        getAllList() {
          if (this.activeValue == 0) {
            this.params.productCategory = '';
            this.getApi(this.params);
          } else if (this.activeValue == 1) {
            this.params.productCategory = '水果';
            this.getApi(this.params);
          } else if (this.activeValue == 2) {
            this.params.productCategory = '蔬菜';
            this.getApi(this.params);
          } else if (this.activeValue == 3) {
            this.params.productCategory = '粮油';
            this.getApi(this.params);
          } else if (this.activeValue == 4) {
            this.params.productCategory = '牛肉猪肉';
            this.getApi(this.params);
          } else if (this.activeValue == 5) {
            this.params.productCategory = '家禽蛋类';
            this.getApi(this.params);
          } else if (this.activeValue == 6) {
            this.params.productCategory = '水产';
            this.getApi(this.params);
          } else {
            this.params.productCategory = '其他';
            this.getApi(this.params);
          }
          //最新供应
          doApi_2(
            (res) => {
              if (res.status == 200) {
                this.hotRows = res.data.rows;
              }
            },
            function (err) {
              console.log(err);
            },
            null,
            '/perfectProduct/listMostPopularityProduct?limit=3',
            'post',
            null,
            null
          );
        },
        getApi(params) {
          doApi_2(
            (res) => {
              if (res.status == 200) {
                this.rows = res.data.rows;
                this.total = res.data.total;
              }
            },
            function (err) {
              console.log(err);
            },
            null,
            '/perfectProduct/listByPage',
            'get',
            params,
            null
          );
        },
        handleSizeChange(size) {
          this.params.limit = size;
          this.getAllList();
        },
        handleCurrentChange(page) {
          this.params.page = page;
          this.getAllList();
        },
      },
    });
  </script>
</html>
