<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>监利市农业电子商务综合服务子系统</title>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../fonts/element.css" />
  </head>
  <body>
    <div id="app">
      <div class="title-section">
        <h1 class="system-title">监利市农业电子商务综合服务子系统</h1>
      </div>

      <div class="mainer">
        <div class="nav-list">
          <a class="nav-item" href="../index.html">首页</a>
          <a class="nav-item" href="./market-condition.html">市场行情</a>
          <a class="nav-item active" href="./price-condition.html">价格行情</a>
          <a class="nav-item" href="./price-trend.html">价格走势</a>
          <a class="nav-item" href="./farm-products.html">优质农产品</a>
          <a class="nav-item" href="./production-market/production-market.html">农产品产销信息</a>
          <a class="nav-item" href="./message-board/message-board.html">留言板</a>
        </div>

        <div class="banner-section">
          <img src="../images/banner-2.png" alt="" />
        </div>

        <div class="classify-section">
          <div class="products-classify">
            <div class="classify-title">产品分类：</div>
            <div class="classify-list">
              <div v-for="(item,index) in productItem" @click="selected(item.value)">
                <nav class="classify-item" :class="activeValue == index ? 'active': ''">{{item.name}}</nav>
              </div>
            </div>
          </div>
          <div class="search-time">
            <div class="time-quantum">时间段：</div>
            <div class="time-selector">
              <el-select v-model="params.time" placeholder="请选择时间段" clearable filterable>
                <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.label">
                </el-option>
              </el-select>
              <el-button type="primary" @click="handleQuery" style="width: 150px !important; margin-left: 20px"
                >查询</el-button
              >
            </div>
          </div>
        </div>

        <div style="display: flex; justify-content: space-between">
          <div style="width: 900px">
            <div>
              <el-table :data="rows" stripe style="width: 900px">
                <el-table-column prop="productName" label="品名" align="center"> </el-table-column>
                <el-table-column prop="productCategory" label="分类" align="center"> </el-table-column>
                <el-table-column prop="collectionPoint" width="160" label="采集点" align="center"> </el-table-column>
                <el-table-column prop="pricingOffer" label="报价员" align="center"> </el-table-column>
                <el-table-column label="采集时间" width="160" align="center">
                  <template v-slot="scope">
                    {{scope.row.offerTime}}
                  </template>  
                </el-table-column>
                <el-table-column prop="price" label="价格" align="center"> </el-table-column>
                <el-table-column prop="lowestPrice" label="最低价" align="center"> </el-table-column>
                <el-table-column prop="highestPrice" label="最高价" align="center"> </el-table-column>
              </el-table>
            </div>
            <el-pagination
              @size-change="handleSizeChange"
              @current-change="handleCurrentChange"
              :current-page="params.pageNum"
              :page-sizes="[10,15,20]"
              :page-size="params.pageRow"
              layout="total, sizes, prev, pager, next, jumper"
              :total="total"
              style="text-align: center; margin-top: 30px"
            >
            </el-pagination>
          </div>
          <div style="width: 350px; height: 500px; background: #fff; padding: 10px">
            <div
              style="
                display: flex;
                justify-content: space-between;
                height: 30px;
                line-height: 30px;
                border-bottom: 1px solid forestgreen;
              "
            >
              <span>最新行情</span>
              <a href="./farm-products.html"><span style="cursor: pointer;color: teal;">更多>></span></a>
            </div>
            <div>
              <el-table :data="conditionTableData" style="font-size: 12px">
                <el-table-column prop="productName" label="品名" align="center"> </el-table-column>
                <el-table-column prop="collectionPoint" label="采集点" align="center"> </el-table-column>
                <el-table-column prop="price" label="价格" align="center"> </el-table-column>
                <el-table-column prop="offerTime" label="时间" width="90" align="center"> 
                  <template v-slot="scope">
                    {{scope.row.offerTime.substr(0,10)}}
                  </template>
                </el-table-column>
              </el-table>
            </div>
          </div>
        </div>

        <footer class="footer">
          <a>主办单位：监利市农业农村局 &nbsp;&nbsp;</a>
          <a>承办单位：武汉中迪联创科技有限公司&nbsp;&nbsp;</a>
          <a>鄂ICP备 xxx号-1鄂公网安备 xxx号</a>
        </footer>
      </div>
    </div>
  </body>
  <script src="../assets/vue/vue.min.js"></script>
  <script src="../assets/element/index.js"></script>
  <script src="../assets/jquery/jquery.min.js"></script>
  <script src="../js/api.js"></script>

  <script type="text/javascript">
    var App = new Vue({
      el: '#app',
      data() {
        return {
          options: [
            {
              value: '1',
              label: '近一周',
            },
            {
              value: '2',
              label: '半个月',
            },
            {
              value: '3',
              label: '近一个月',
            },
            {
              value: '4',
              label: '近半年',
            },
            {
              value: '5',
              label: '近一年',
            },
          ],
          productItem: [
            { value: 0, name: '全部' },
            { value: 1, name: '水果' },
            { value: 2, name: '蔬菜' },
            { value: 3, name: '粮油' },
            { value: 4, name: '牛肉猪肉' },
            { value: 5, name: '家禽蛋类' },
            { value: 6, name: '水产' },
            { value: 7, name: '其他' },
          ],
          activeValue: 0,
          rows: [],
          conditionTableData: [],
          params: {
            pageNum: 1,
            pageRow: 10,
            category: '',
            time: '近一年',
          },
          total: '',
        };
      },
      created() {
        this.getTableValue();
        this.getConditionTableValue();
      },
      methods: {
        selected(value) {
          this.activeValue = value;
          this.handleQuery();
        },
        handleQuery() {
          this.getTableValue();
        },
        getTableValue() {
          let formData = new FormData();
          formData.append('pageNum', this.params.pageNum);
          formData.append('pageRow', this.params.pageRow);
          formData.append('category', this.params.category);
          formData.append('time', this.params.time);
          if (this.activeValue == 0) {
            formData.delete('category');
            this.getApi(formData);
          } else if (this.activeValue == 1) {
            this.params.category = '水果';
            this.getApi(formData);
          } else if (this.activeValue == 2) {
            this.params.category = '蔬菜';
            this.getApi(formData);
          } else if (this.activeValue == 3) {
            this.params.category = '粮油';
            this.getApi(formData);
          } else if (this.activeValue == 4) {
            this.params.category = '牛肉猪肉';
            this.getApi(formData);
          } else if (this.activeValue == 5) {
            this.params.category = '家禽蛋类';
            this.getApi(formData);
          } else if (this.activeValue == 6) {
            this.params.category = '水产';
            this.getApi(formData);
          } else {
            this.params.category = '其他';
            this.getApi(formData);
          }
        },
        getConditionTableValue() {
          doApi_2(
            (res) => {
              if (res.status == 200) {
                this.conditionTableData = res.data.rows;
              }
            },
            function (err) {
              console.log(err);
            },
            null,
            '/price/listRecentPriceInfo?limit=8',
            'post',
            null,
            null
          );
        },
        getApi(params) {
          doApi_3(
            (res) => {
              console.log(res)
              if (res.status == 200) {
                this.rows = res.data.rows;
                this.total = res.data.total;
              }
            },
            function (err) {
              console.log(err);
            },
            null,
            '/price/listByTypeAndTime',
            'post',
            params,
            false
          );
        },
        handleSizeChange(value) {
          this.params.pageRow = value;
          this.getTableValue();
        },
        handleCurrentChange(value) {
          this.params.pageNum = value;
          this.getTableValue();
        },
      },
    });
  </script>
</html>
