<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>登录</title>
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../css/login.css" />
    <link rel="stylesheet" href="../../fonts/element.css" />
  </head>
  <body>
    <div id="app">
      <div class="login-banner">
        <a href="../../index.html">
          <h1 class="login-title">监利市农业电子商务综合服务子系统</h1>
        </a>
        <h2 class="serve-tel">服务热线：400-888-888</h2>
      </div>

      <div class="login-mainer">
        <div class="mainer-bg"></div>
        <el-form ref="form" :model="form" :rules="rules" class="login-container">
          <div class="login-container-border"></div>
          <div class="login-tip">请输入账号和密码</div>
          <div class="input-container">
            <el-form-item class="user-login-num" prop="username">
              <p>用户名</p>
              <el-input placeholder="用户名" type="text" v-model="form.username" style="width: 350px !important">
              </el-input>
            </el-form-item>
            <el-form-item class="user-login-num" prop="password">
              <p>密码</p>
              <el-input placeholder="密码" type="password" v-model="form.password" style="width: 350px !important">
              </el-input>
            </el-form-item>
          </div>
          <div class="login-btn-container">
            <el-checkbox v-model="checked" @change="handleChangeRember">记住我</el-checkbox>
            <a>
              <el-button
                type="success"
                @click="handleLogin"
                round
                style="width: 200px !important; background: rgb(0, 166, 90) !important"
                >登录</el-button
              >
            </a>
          </div>
          <p class="register-account">
            <el-link href="./register.html" type="primary" :underline="false">注册新账号</el-link>
          </p>
        </el-form>
      </div>

      <footer>
        <div class="Copyright">Copyright © 2008-2020</div>
        <div class="Copyright">中迪联创科技有限公司. All rights reserved.</div>
        <div class="Copyright">公网安备 888888888888888号</div>
      </footer>
    </div>
  </body>
  <script src="../../assets/vue/vue.min.js"></script>
  <script src="../../assets/element/index.js"></script>
  <script src="../../assets/jquery/jquery.min.js"></script>
  <script src="../../js/api.js"></script>
  <script>
    var App = new Vue({
      el: '#app',
      data: function () {
        return {
          form: {
            username: '',
            password: '',
          },
          checked: false,
          rules: {
            username: [{ required: true, message: '请输入用户名', trigger: 'blur' }],
            password: [
              { required: true, message: '请输入密码', trigger: 'blur' },
              // {
              //   pattern: /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,20}$/,
              //   message: '密码至少包含 数字和英文，长度6-20',
              // },
            ],
          },
        };
      },
      created() {},
      methods: {
        handleLogin() {
          doApi_2(
            (res) => {
              console.log(res);
              if (res.status == 200) {
                localStorage.setItem('username', this.form.username);
                localStorage.setItem('token', res.data);
                var successMsg = this.$message.success('登录成功');
                var num = 1;
                var timer = setInterval(function () {
                  num--;
                  if (num == 0) {
                    //登录成功跳转页面
                    window.location.href = '../../index.html';
                    window.clearInterval(timer);
                  }
                }, 1000);
              } else {
                this.$message.error('登录失败，请检查填写信息！');
              }
            },
            function (err) {
              console.log(err);
            },
            null,
            '/user/login',
            'post',
            JSON.stringify(this.form),
            'application/json'
          );
        },
        handleChangeRember(value) {
          if (value) {
            localStorage.setItem('loginForm', JSON.stringify(this.form));
          }
        },
      },
    });
  </script>
</html>
